// PRIMARY NEXTFLOW.CONFIG
// This file contains all default parameters, profiles, pipeline metadata

// DEFAULT PARAMETERS
params {

	// BASIC PARAMS
	help = false
	version = false
	debug = false
	take = "10"
	fork = "10"
	sample = "abc"

	// INPUT / OUTPUT
	input = "/home/tmhngs/lungpanel/input"
	output = "/home/tmhngs/lungpanel/output/${params.sample}"
	reference = "/home/tmhngs/lungpanel/refs/hg19/v0"
	analysis = "/home/tmhngs/lungpanel/refs/analysis"
	cosmic = "/home/tmhngs/lungpanel/refs/cosmic/v96"

	// Hg 19 Fa
	hg19                             =              'Homo_sapiens_assembly19.fasta'
	dbsnp                            =              'dbsnp_138.b37.vcf.gz'
	known_site_1                     =              'Homo_sapiens_assembly19.known_indels.vcf'
	known_site_2                     =              'Mills_and_1000G_gold_standard.indels.b37.vcf.gz'
	bed_file                         =              'Focus.dna_manifest.20190603.bed'
	manifest_file                    =              'Focus.dna_manifest.20190603_manifest.bed'
	cosmic_v96                       =              'CosmicCodingMuts_v96.vcf.gz'

	//Mutect 2 Resources
	
	af_only_gnomad_vcf               =              'af-only-gnomad.raw.sites.vcf'
	ExAc                             =              'small_exac_common_3_b37.vcf.gz'


	// OTHER PARAMS ...
	SE = false
	publish_dir_mode = "copy"
	platform_name = "MiSeq"
	platform_unit = "Molecular"
	sequencing_center = "TMH"
	bwa_version = "0.7.17-r1188"
	bwa_commandline = "bwa mem -K 100000000 -p -v 3 -t 16 -Y ${params.reference}/${params.hg19} /dev/stdin -  2> >(tee ${params.sample}.bwa.stderr.log >&2)"

	// Base specifications
  	// Defaults only, expecting to be overwritten
  	cpus = 12 
  	max_cpus = 12
  	max_memory = 128.GB
  	max_time = 240.h
  	single_cpu_mem = 8.GB

	// Tools 
	vardict = false
	SOB = "/Users/yuhochunkyle/miniconda3/bin/SOBDetector_v1.0.4.jar"
	snpEff_db = "snpEff"
	cov_plot_R = "/Users/yuhochunkyle/bioinfo/RScript"

	// MultiQC options
    multiqc_config         = null
    multiqc_title          = null
    max_multiqc_email_size = '25.MB'



}
// Load modules.config for DSL2 module specific options
includeConfig 'config/modules.config'


// NEXTFLOW PROFILES
profiles {

	// -profile standard
	standard {
		includeConfig "${baseDir}/config/base.config"
	}

	// -profile conda
	conda {
		includeConfig "${baseDir}/config/base.config"
		process.conda = "$baseDir/env/environment.yml"
	}

	// -profile docker
	docker {
		includeConfig "${baseDir}/config/base.config"
		docker.enabled = true
		process.container = 'ecseq/dnaseq'
	}

	// -profile singularity
	singularity {
		includeConfig "${baseDir}/config/base.config"
		singularity.enabled = true
		process.container = 'ecseq/dnaseq'
	}

	// -profile test
	test {
		includeConfig "${baseDir}/config/base.config"
		includeConfig "${baseDir}/config/test.config"
	}

	// -profile custom
	custom {
		// Don't load any config (for use with custom home configs)
	}
}


// NEXTFLOW MANIFEST
manifest {
	homePage = "https://github.com/ecseq/template"
	author = "Kyle Yu"
	description = "Somatic pipeline for focus panel"
	name = "ntwc-ngs-somatic"
	mainScript = "main.nf"
	version = "0.1.0"
	nextflowVersion = "22.04.5"
}


// NEXTFLOW REPORTING # this defines pipeline metadata
dag {
	enabled = true
	file = "${params.output}/log/dag.svg"
}
report {
	enabled = true
	file = "${params.output}/log/report.html"
}
timeline {
	enabled = true
	file = "${params.output}/log/timeline.html"
}
trace {
	enabled = true
	file = "${params.output}/log/trace.txt"
}